body {
    background-color: #202632;
    font-family:'Manrope', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58vh;
    height: 75vh;
    position: relative;
}
.container {
    position: absolute;
    background-color: #313A49;
    top: 260px;
    width: 550px;
    height: 320px;
    border: none;
    border-radius: 18px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.txt {
    margin-top: 25px;
    display: inline-block;
}

.txt h4 {
    font-weight: 400;
    color: #4EE49C;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 300;
}

.txt p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    display: inline-block;
    margin-top: 32px;
    height: fit-content;
    width: fit-content;
    letter-spacing: 2px;
}

.gen {
    position: relative;
    top: 212px;
    left: 55px;
}
button {
    width: 50px;
    height: 50px;
    background-color: #4EE49C;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#dice {
    position: relative;
    top: 0;
    z-index: 10;
    padding: 7px;
}

button:hover {
    background-color: white;
}

.actions img {
    height: 32px;
    cursor: pointer;
}

.actions img:hover {
    opacity: 0.5;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 110px;
    height: fit-content;
    margin-top: 20px;
}

@media (max-width:768px) {
    .gen {
        top: 230px;
    }

}
